name: Metrics
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches:
      - main
      - master
      - development

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: adnanf23

          # Layout
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta

          # === GREEN BOXES (Commit Calendar) ===
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
